*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  src: url(fonts/Poppins-Bold.ttf);
  font-family: poppins-bold; }

@font-face {
  src: url(fonts/Poppins-Regular.ttf);
  font-family: poppins-regular; }

@font-face {
  src: url(fonts/Poppins-SemiBold.ttf);
  font-family: poppins-semibold; }

@font-face {
  src: url(fonts/Poppins-Medium.ttf);
  font-family: poppins-medium; }

html,
body {
  height: 100%; }

body {
  background-color: #f2f2f3;
  font-family: "Poppins", sans-serif;
  line-height: 1rem; }

[href*="#"] {
  text-decoration: none;
  color: black; }

[class*="active"] {
  border: #00aedc solid 1px;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px; }
  [class*="active"]:hover {
    transform: scale(1.1);
    font-size: 15px;
    background-color: #00aedc;
    color: #ffffff;
    border-color: #ffffff; }

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: min-content;
  grid-template-areas: "header header" "main service-header" "main services" "main services" "gallery services" "footer ."; }

.header {
  grid-area: header; }

.main {
  margin: 41px 40px 28px;
  grid-area: main;
  justify-self: flex-end; }

.sidebar__header {
  grid-area: service-header; }

.sidebar__services {
  grid-area: services; }

.gallery {
  margin: 41px 40px 28px;
  grid-area: gallery;
  justify-self: flex-end; }

.footer {
  margin: 41px 40px 28px;
  grid-area: footer;
  justify-self: flex-end; }

.header {
  max-width: 100%;
  display: flex;
  flex-flow: row nowrap;
  place-content: center space-between;
  place-items: center;
  background-color: white; }
  .header__logo {
    max-width: 100%;
    margin: 0.5rem; }

.nav__list {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  place-content: space-around; }
  .nav__list-item {
    align-self: center; }
    .nav__list-item--active {
      margin: 0 4rem 0 1rem;
      font-weight: normal;
      padding-left: 29px;
      margin-right: 66px; }
    .nav__list-item--burger {
      display: none; }

.main {
  background-color: white;
  border-radius: 10px; }

.profile {
  max-width: 799px;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  place-content: center;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  grid-template-areas: "avatar title" "avatar description" "social description" "contact description"; }
  .profile__image {
    margin: 10px;
    grid-area: avatar;
    width: 149px;
    height: 149px; }
    .profile__image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
      border: 12px solid #f3f8f9; }
  .profile__contact {
    grid-area: contact;
    justify-self: center; }
    .profile__contact--active {
      width: 138px;
      height: 44px;
      text-align: center; }
  .profile__social {
    grid-area: social;
    justify-self: center;
    margin-bottom: 1rem;
    list-style-type: none; }
    .profile__social-item:hover {
      transform: scale(1.5); }
    .profile__social-item--linkedin {
      display: inline-block;
      width: 24px;
      height: 24px;
      object-fit: cover;
      border-radius: 50%;
      background: url("../assets/010-linkedin.png") no-repeat; }
    .profile__social-item--facebook {
      display: inline-block;
      width: 24px;
      height: 24px;
      object-fit: cover;
      border-radius: 50%;
      background: url("../assets/001-facebook.png") no-repeat; }
    .profile__social-item--twitter {
      display: inline-block;
      width: 24px;
      height: 24px;
      object-fit: cover;
      border-radius: 50%;
      background: url("../assets/013-twitter.png") no-repeat; }
    .profile__social-item--instagram {
      display: inline-block;
      width: 24px;
      height: 24px;
      object-fit: cover;
      border-radius: 50%;
      background: url("../assets/011-instagram.png") no-repeat; }
  .profile__title {
    grid-area: title;
    margin: 30px 0 18px;
    align-self: center;
    grid-area: title;
    font-size: 22px;
    font-weight: 900; }

.description__list {
  grid-area: description;
  padding: 2px;
  margin-left: 3px;
  align-self: center;
  list-style-type: none;
  display: flex;
  flex-flow: column wrap; }
  .description__list-item {
    font-size: 14px;
    line-height: 20px; }
    .description__list-item--break::before {
      content: "\a";
      white-space: pre; }

.sidebar__header {
  margin-top: 41px;
  max-height: 120px;
  max-width: 394px;
  background: white;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  display: flex;
  place-items: center;
  place-content: center;
  flex-flow: row nowrap;
  border-bottom: 1px solid #f1f2f2; }
  .sidebar__header-title {
    max-width: 246px;
    margin: 2px 0 0 27px;
    font-size: 18px; }
  .sidebar__header-logo {
    width: 4rem;
    margin: 1rem; }

.sidebar__services {
  max-height: 525px;
  max-width: 394px;
  background: white;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem; }
  .sidebar__services-header {
    font-size: 18px;
    margin: 13px 0 10px 34px; }
  .sidebar__services-list {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    place-content: center;
    grid-template-areas: "basic" "advanced" "expert"; }
  .sidebar__services-offer {
    margin: 6px auto;
    gap: 1rem;
    border: 2px solid #d7d8da;
    border-radius: 15px;
    display: grid;
    grid-template-areas: "time type"; }
    .sidebar__services-offer:hover {
      transform: scale(1.1);
      border-color: #00aedc; }
    .sidebar__services-offer--basic {
      grid-area: basic; }
    .sidebar__services-offer--advanced {
      grid-area: advanced; }
    .sidebar__services-offer--expert {
      grid-area: expert; }
    .sidebar__services-offer:checked {
      border: 2px solid #00aedc; }
  .sidebar__services-title {
    font-size: 15px; }
  .sidebar__services-time {
    width: 74px;
    border-radius: 1rem 0 0 1rem;
    background-color: #f9f9fa;
    grid-area: time;
    font-size: 13px;
    border-right: 1px solid #d7d8da;
    display: grid;
    grid-template-areas: "amount" "price"; }
    .sidebar__services-time:checked {
      border-right: 2px solid #00aedc; }
  .sidebar__services-amount {
    grid-area: amount;
    height: 45px; }
    .sidebar__services-amount--orange {
      color: white;
      text-align: center;
      width: 3rem;
      background-color: #f5b118;
      border-radius: 50%;
      margin: 1rem; }
      .sidebar__services-amount--orange::before {
        content: "45 \A min";
        white-space: pre-wrap;
        font-weight: bold; }
    .sidebar__services-amount--cyan {
      color: white;
      text-align: center;
      width: 3rem;
      background-color: #5cd6be;
      border-radius: 50%;
      margin: 1rem; }
      .sidebar__services-amount--cyan::before {
        content: "15 \A min";
        white-space: pre-wrap;
        font-weight: bold; }
    .sidebar__services-amount--purple {
      color: white;
      text-align: center;
      width: 3rem;
      background-color: #b8b8fe;
      border-radius: 50%;
      margin: 1rem; }
      .sidebar__services-amount--purple::before {
        content: "1 \A hour";
        white-space: pre-wrap;
        font-weight: bold; }
  .sidebar__services-price {
    grid-area: price;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 600; }
  .sidebar__services-type {
    width: 239px;
    height: 116px;
    grid-area: type;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "title option" "info info"; }
  .sidebar__services-title {
    grid-area: title;
    width: 100%; }
  .sidebar__services-option {
    grid-area: option;
    justify-self: flex-end; }
  .sidebar__services-input {
    display: none; }
  .sidebar__services-choose {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #ddd;
    cursor: pointer; }
    .sidebar__services-choose:active {
      border-color: #00aedc; }
    .sidebar__services-choose::after {
      content: "\2713";
      width: 100%;
      height: 100%;
      display: inline-block;
      text-align: center;
      transform: scale(0);
      color: #00aedc; }
  .sidebar__services-input:checked + .sidebar__services-choose::after {
    transform: scale(2); }
  .sidebar__services-info {
    grid-area: info;
    color: #474f5a;
    font-size: 12.5px; }
  .sidebar__services-button {
    margin-top: 14px;
    font-size: 15px;
    text-align: center;
    display: block;
    background-color: #00aedc;
    color: white;
    border-radius: 10px;
    padding: 11px;
    margin-bottom: 1rem;
    width: 332px; }
    .sidebar__services-button:hover {
      transform: scale(1.1); }

.gallery {
  max-width: 799px;
  border-radius: 0.5rem;
  background-color: white; }
  .gallery__description {
    margin: 1rem 0rem 1rem 1.5rem; }
  .gallery__images {
    padding: 1rem;
    margin: 0 2rem;
    display: flex;
    flex-flow: row wrap; }
    .gallery__images img {
      display: block;
      height: 125px;
      object-fit: cover;
      margin: 2px;
      border-radius: 6px; }
      .gallery__images img:hover {
        transform: scale(1.5); }
    .gallery__images-item--span2 {
      width: 173px; }
    .gallery__images-item--span1 {
      width: 80px; }

.footer {
  max-width: 799px;
  border-radius: 0.5rem;
  background-color: white;
  margin-bottom: 1.5rem;
  line-height: 20px; }
  .footer__description-title {
    margin: 26px 0 0 32px; }
  .footer__reviews {
    margin: 0 20px 2rem 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    grid-template-areas: "sophia" "maxim"; }
  .footer__avatar {
    margin: 1rem 0rem;
    grid-area: avatar;
    margin-bottom: 38px; }
    .footer__avatar-img {
      max-height: 86px;
      max-width: 86px;
      object-fit: cover; }
  .footer__review {
    margin: 1rem 0 1rem 1rem;
    gap: 0 1rem;
    display: grid;
    place-content: space-evenly;
    grid-template-areas: "avatar heading " "avatar  paragraph "; }
    .footer__review--sophia {
      grid-area: sophia;
      border-bottom: 1px solid #dadbdd; }
    .footer__review--maxim {
      grid-area: maxim; }
  .footer__heading {
    grid-area: heading;
    display: flex;
    flex-flow: row wrap;
    place-content: center space-between; }
  .footer__title {
    font-size: 14px;
    margin: 1rem 1rem 0 0; }
  .footer__paragraph {
    grid-area: paragraph;
    font-size: 13px;
    color: #adb0b4;
    margin-bottom: 1rem; }
  .footer__rating {
    align-self: center; }
    .footer__rating-star {
      background: url("../assets/Path_3.png");
      width: 1rem;
      height: 1rem;
      display: inline-block; }
      .footer__rating-star--checked {
        background: url("../assets/PathCopy3.png"); }
  .footer__nav {
    text-align: center; }
    .footer__nav-list {
      list-style-type: none;
      display: flex;
      flex-flow: row wrap;
      place-content: center;
      place-items: center;
      text-align: center; }
    .footer__nav-item {
      color: #474747;
      margin-right: 0.5rem;
      padding: 0 2px 2px 0;
      align-self: flex-start; }
      .footer__nav-item a:hover {
        border: 3px solid #eaf3f6;
        font-size: 1.5rem; }
      .footer__nav-item--back {
        align-self: flex-end; }
        .footer__nav-item--back a {
          height: 24px;
          width: 24px;
          display: inline-block;
          background: url("../assets/arrow-left.png"); }
          .footer__nav-item--back a:hover {
            border: none;
            transform: scale(1.5); }
      .footer__nav-item--more {
        align-self: flex-end; }
        .footer__nav-item--more a::before {
          display: inline-block;
          content: "\22EF";
          color: #c5d0d7;
          transform: scale(2); }
        .footer__nav-item--more a:hover {
          border: none;
          transform: scale(1.5); }
      .footer__nav-item--next {
        align-self: flex-end; }
        .footer__nav-item--next a {
          height: 24px;
          width: 24px;
          display: inline-block;
          background: url("../assets/arrow-right.png"); }
          .footer__nav-item--next a:hover {
            border: none;
            transform: scale(1.5); }
  .footer__write {
    margin: 1rem; }
    .footer__write-heading {
      margin: 10px 10px;
      display: flex;
      flex-flow: row wrap;
      place-content: center space-between; }
    .footer__write-rating {
      margin-right: 30px; }
    .footer__write-title {
      font-size: 12.5px;
      margin-left: 1rem;
      color: #707070; }
    .footer__write-text {
      padding: 1rem;
      resize: none;
      width: 92%;
      height: 18vh;
      display: block;
      margin: 0 auto 1rem;
      border: 1px solid #e7e8e9;
      border-radius: 10px;
      color: #adadad; }
      .footer__write-text:placeholder-shown {
        padding: 1rem; }
      .footer__write-text::placeholder {
        padding: 1rem;
        font-size: 12.5; }
    .footer__write-post {
      display: flex;
      flex-flow: row nowrap;
      place-content: center flex-end; }
    .footer__write-submit {
      border: none;
      width: 135px;
      padding: 14px 2rem;
      font-size: 15px;
      color: white;
      background-color: #00aedc;
      border-radius: 4px;
      box-shadow: none;
      margin: 8px 2rem 40px 0; }
      .footer__write-submit:disabled {
        color: #b0adb7;
        background-color: #f0f1f1; }

@media (max-width: 1103px) {
  .wrapper {
    text-align: center;
    grid-template-areas: "header " "service-header" "main" "main" "services" "gallery" "footer"; }
  .sidebar__header,
  .main,
  .sidebar__services,
  .gallery,
  .footer {
    justify-self: center;
    max-width: 799px;
    width: 100%; }
  .nav__list-item {
    display: none; }
    .nav__list-item--burger {
      display: inline-block; }
      .nav__list-item--burger::after {
        content: "\2807";
        font-size: 24px;
        font-weight: bold;
        padding: 2rem 1rem; }
  .description__list {
    padding: 15px 20px; }
  .profile {
    height: auto;
    place-items: center;
    grid-template-areas: "avatar title" "avatar social" "avatar contact" "description description"; }
    .profile__image {
      justify-self: flex-end; }
    .profile__title {
      font-size: 15px;
      justify-self: flex-start; }
    .profile__social {
      justify-self: flex-start; }
    .profile__contact {
      justify-self: flex-start; }
      .profile__contact--active {
        height: 38px; }
    .profile__description {
      font-size: 13px; }
  .gallery__images img {
    width: 100%;
    height: 100%; }
    .gallery__images img:hover {
      transform: scale(1.1); }
  .sidebar__services {
    grid-row: auto;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem; }
    .sidebar__services-type {
      text-align: left; }
    .sidebar__services-button {
      display: none; }
    .sidebar__services-list {
      margin-bottom: 2rem; }
  .sidebar__services-offer {
    width: 80%;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto)); }
    .sidebar__services-offer:hover {
      transform: scale(1); }
  .sidebar__services-type {
    width: 100%; }
  .sidebar__services-title {
    margin-top: 1rem; }
  .sidebar__services-time {
    width: 100%;
    justify-content: center; }
  .sidebar__header {
    justify-content: center;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem; }
  .footer {
    margin-top: 12px; }
    .footer__review {
      text-align: left;
      grid-template-areas: "avatar heading ." "paragraph paragraph paragraph"; }
    .footer__avatar {
      margin: 1rem 0 10px; }
    .footer__heading {
      flex-flow: column wrap;
      justify-content: center; }
    .footer__rating {
      align-self: flex-start; } }
