.footer {
  max-width: 799px;
  border-radius: 0.5rem;
  background-color: white;
  margin-bottom: 1.5rem;
  line-height: 20px;

  &__description {
    &-title {
      margin: 26px 0 0 32px;
    }
  }
  &__reviews {
    margin: 0 20px 2rem 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    grid-template-areas:
      "sophia"
      "maxim";
  }

  &__avatar {
    margin: 1rem 0rem;
    grid-area: avatar;
    margin-bottom: 38px;

    &-img {
      max-height: 86px;
      max-width: 86px;
      object-fit: cover;
    }
  }

  &__review {
    margin: 1rem 0 1rem 1rem;
    gap: 0 1rem;
    display: grid;
    place-content: space-evenly;
    grid-template-areas:
      "avatar heading "
      "avatar  paragraph ";

    &--sophia {
      grid-area: sophia;
      border-bottom: 1px solid #dadbdd;
    }

    &--maxim {
      grid-area: maxim;
    }
  }
  &__heading {
    grid-area: heading;
    display: flex;
    flex-flow: row wrap;
    place-content: center space-between;
  }

  &__title {
    font-size: 14px;
    margin: 1rem 1rem 0 0;
  }

  &__paragraph {
    grid-area: paragraph;
    font-size: 13px;
    color: #adb0b4;
    margin-bottom: 1rem;
  }

  &__rating {
    align-self: center;

    &-star {
      background: url("../assets/Path_3.png");
      width: 1rem;
      height: 1rem;
      display: inline-block;

      &--checked {
        background: url("../assets/PathCopy3.png");
      }
    }
  }

  &__nav {
    text-align: center;

    &-list {
      list-style-type: none;
      display: flex;
      flex-flow: row wrap;
      place-content: center;
      place-items: center;
      text-align: center;
    }

    &-item {
      color: #474747;
      margin-right: 0.5rem;
      padding: 0 2px 2px 0;
      align-self: flex-start;

      & a:hover {
        border: 3px solid #eaf3f6;
        font-size: 1.5rem;
      }

      &--back {
        align-self: flex-end;
        & a {
          height: 24px;
          width: 24px;
          display: inline-block;
          background: url("../assets/arrow-left.png");

          &:hover {
            border: none;
            transform: scale(1.5);
          }
        }
      }

      &--more {
        align-self: flex-end;
        & a {
          &::before {
            display: inline-block;
            content: "\22EF";
            color: #c5d0d7;
            transform: scale(2);
          }
          &:hover {
            border: none;
            transform: scale(1.5);
          }
        }
      }

      &--next {
        align-self: flex-end;
        & a {
          height: 24px;
          width: 24px;
          display: inline-block;
          background: url("../assets/arrow-right.png");

          &:hover {
            border: none;
            transform: scale(1.5);
          }
        }
      }
    }
  }

  &__write {
    margin: 1rem;

    &-heading {
      margin: 10px 10px;
      display: flex;
      flex-flow: row wrap;
      place-content: center space-between;
    }

    &-rating {
      margin-right: 30px;
    }
    &-title {
      font-size: 12.5px;
      margin-left: 1rem;
      color: #707070;
    }

    &-text {
      padding: 1rem;
      resize: none;
      width: 92%;
      height: 18vh;
      display: block;
      margin: 0 auto 1rem;
      border: 1px solid #e7e8e9;
      border-radius: 10px;
      color: #adadad;

      &:placeholder-shown {
        padding: 1rem;
      }
      &::placeholder {
        padding: 1rem;
        font-size: 12.5;
      }
    }

    &-post {
      display: flex;
      flex-flow: row nowrap;
      place-content: center flex-end;
    }

    &-submit {
      border: none;
      width: 135px;
      padding: 14px 2rem;
      font-size: 15px;
      color: white;
      background-color: #00aedc;
      border-radius: 4px;
      box-shadow: none;
      margin: 8px 2rem 40px 0;

      &:disabled {
        color: #b0adb7;
        background-color: #f0f1f1;
      }
    }
  }
}
