.gallery {
  max-width: 799px;
  border-radius: 0.5rem;
  background-color: white;

  &__description {
    margin: 1rem 0rem 1rem 1.5rem;
  }

  &__images {
    padding: 1rem;
    margin: 0 2rem;
    display: flex;
    flex-flow: row wrap;

    & img {
      display: block;
      height: 125px;
      object-fit: cover;
      margin: 2px;
      border-radius: 6px;

      &:hover {
        transform: scale(1.5);
      }
    }
    &-item {
      &--span2 {
        width: 173px;
      }

      &--span1 {
        width: 80px;
      }
    }
  }
}
