.header {
  max-width: 100%;
  display: flex;
  flex-flow: row nowrap;
  place-content: center space-between;
  place-items: center;
  background-color: white;

  &__logo {
    max-width: 100%;
    margin: 0.5rem;
  }
}

.nav {
  &__list {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    place-content: space-around;

    &-item {
      align-self: center;
      &--active {
        margin: 0 4rem 0 1rem;
        font-weight: normal;
        padding-left: 29px;
        margin-right: 66px;
      }
      &--burger {
        display: none;
      }
    }
  }
}
