.main {
  background-color: white;
  border-radius: 10px;
}
.profile {
  max-width: 799px;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  place-content: center;
  background-color: white;
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  grid-template-areas:
    "avatar title"
    "avatar description"
    "social description"
    "contact description";

  &__image {
    margin: 10px;
    grid-area: avatar;
    width: 149px;
    height: 149px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
      border: 12px solid #f3f8f9;
    }
  }

  &__contact {
    grid-area: contact;
    justify-self: center;

    &--active {
      width: 138px;
      height: 44px;
      text-align: center;
    }
  }

  &__social {
    grid-area: social;
    justify-self: center;
    margin-bottom: 1rem;
    list-style-type: none;

    &-item {
      &:hover {
        transform: scale(1.5);
      }

      &--linkedin {
        display: inline-block;
        width: 24px;
        height: 24px;
        object-fit: cover;
        border-radius: 50%;
        background: url("../assets/010-linkedin.png") no-repeat;
      }

      &--facebook {
        display: inline-block;
        width: 24px;
        height: 24px;
        object-fit: cover;
        border-radius: 50%;
        background: url("../assets/001-facebook.png") no-repeat;
      }

      &--twitter {
        display: inline-block;
        width: 24px;
        height: 24px;
        object-fit: cover;
        border-radius: 50%;
        background: url("../assets/013-twitter.png") no-repeat;
      }

      &--instagram {
        display: inline-block;
        width: 24px;
        height: 24px;
        object-fit: cover;
        border-radius: 50%;
        background: url("../assets/011-instagram.png") no-repeat;
      }
    }
  }

  &__title {
    grid-area: title;
    margin: 30px 0 18px;
    align-self: center;
    grid-area: title;
    font-size: 22px;
    font-weight: 900;
  }
}
.description__list {
  grid-area: description;
  padding: 2px;
  margin-left: 3px;
  align-self: center;
  list-style-type: none;
  display: flex;
  flex-flow: column wrap;

  &-item {
    font-size: 14px;
    line-height: 20px;

    &--break {
      &::before {
        content: "\a";
        white-space: pre;
      }
    }
  }
}
