.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: min-content;
  grid-template-areas:
    "header header"
    "main service-header"
    "main services"
    "main services"
    "gallery services"
    "footer .";
}

.header {
  grid-area: header;
}
.main {
  margin: 41px 40px 28px;
  grid-area: main;
  justify-self: flex-end;
}

.sidebar__header {
  grid-area: service-header;
}

.sidebar__services {
  grid-area: services;
}

.gallery {
  margin: 41px 40px 28px;
  grid-area: gallery;
  justify-self: flex-end;
}

.footer {
  margin: 41px 40px 28px;
  grid-area: footer;
  justify-self: flex-end;
}
