.sidebar {
  &__header {
    margin-top: 41px;
    max-height: 120px;
    max-width: 394px;
    background: white;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    display: flex;
    place-items: center;
    place-content: center;
    flex-flow: row nowrap;
    border-bottom: 1px solid #f1f2f2;

    &-title {
      max-width: 246px;
      margin: 2px 0 0 27px;
      font-size: 18px;
    }

    &-logo {
      width: 4rem;
      margin: 1rem;
    }
  }
  &__services {
    max-height: 525px;
    max-width: 394px;
    background: white;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    &-header {
      font-size: 18px;
      margin: 13px 0 10px 34px;
    }

    &-list {
      display: grid;
      grid-template-columns: 1fr;
      place-items: center;
      place-content: center;
      grid-template-areas:
        "basic"
        "advanced"
        "expert";
    }

    &-offer {
      margin: 6px auto;
      gap: 1rem;
      border: 2px solid #d7d8da;
      border-radius: 15px;
      display: grid;
      grid-template-areas: "time type";

      &:hover {
        transform: scale(1.1);
        border-color: #00aedc;
      }

      &--basic {
        grid-area: basic;
      }
      &--advanced {
        grid-area: advanced;
      }
      &--expert {
        grid-area: expert;
      }

      &:checked {
        border: 2px solid #00aedc;
      }
    }

    &-title {
      font-size: 15px;
    }

    &-time {
      width: 74px;
      border-radius: 1rem 0 0 1rem;
      background-color: #f9f9fa;
      grid-area: time;
      font-size: 13px;
      border-right: 1px solid #d7d8da;
      display: grid;
      grid-template-areas:
        "amount"
        "price";

      &:checked {
        border-right: 2px solid #00aedc;
      }
    }

    &-amount {
      grid-area: amount;
      height: 45px;

      &--orange {
        color: white;
        text-align: center;
        width: 3rem;
        background-color: #f5b118;
        border-radius: 50%;
        margin: 1rem;

        &::before {
          content: "45 \A min";
          white-space: pre-wrap;
          font-weight: bold;
        }
      }

      &--cyan {
        color: white;
        text-align: center;
        width: 3rem;
        background-color: #5cd6be;
        border-radius: 50%;
        margin: 1rem;

        &::before {
          content: "15 \A min";
          white-space: pre-wrap;
          font-weight: bold;
        }
      }

      &--purple {
        color: white;
        text-align: center;
        width: 3rem;
        background-color: #b8b8fe;
        border-radius: 50%;
        margin: 1rem;

        &::before {
          content: "1 \A hour";
          white-space: pre-wrap;
          font-weight: bold;
        }
      }
    }
    &-price {
      grid-area: price;
      text-align: center;
      margin-bottom: 1rem;
      font-weight: 600;
    }
    &-type {
      width: 239px;
      height: 116px;
      grid-area: type;
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-areas:
        "title option"
        "info info";
    }

    &-title {
      grid-area: title;
      width: 100%;
    }

    &-option {
      grid-area: option;
      justify-self: flex-end;
    }

    &-input {
      display: none;
    }

    &-choose {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 10px;
      border-radius: 50%;
      border: 1px solid #ddd;
      cursor: pointer;

      &:active {
        border-color: #00aedc;
      }

      &::after {
        content: "\2713";
        width: 100%;
        height: 100%;
        display: inline-block;
        text-align: center;
        transform: scale(0);
        color: #00aedc;
      }
    }

    &-input:checked + &-choose::after {
      transform: scale(2);
    }

    &-info {
      grid-area: info;
      color: #474f5a;
      font-size: 12.5px;
    }

    &-button {
      margin-top: 14px;
      font-size: 15px;
      text-align: center;
      display: block;
      background-color: #00aedc;
      color: white;
      border-radius: 10px;
      padding: 11px;
      margin-bottom: 1rem;
      width: 332px;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
