*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  src: url(fonts/Poppins-Bold.ttf);
  font-family: poppins-bold;
}
@font-face {
  src: url(fonts/Poppins-Regular.ttf);
  font-family: poppins-regular;
}
@font-face {
  src: url(fonts/Poppins-SemiBold.ttf);
  font-family: poppins-semibold;
}
@font-face {
  src: url(fonts/Poppins-Medium.ttf);
  font-family: poppins-medium;
}

html,
body {
  height: 100%;
}
body {
  background-color: #f2f2f3;
  font-family: "Poppins", sans-serif;
  line-height: 1rem;
}

[href*="#"] {
  text-decoration: none;
  color: black;
}
[class*="active"] {
  border: #00aedc solid 1px;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;

  &:hover {
    transform: scale(1.1);
    font-size: 15px;
    background-color: #00aedc;
    color: #ffffff;
    border-color: #ffffff;
  }
}
