@media (max-width: 1103px) {
  .wrapper {
    text-align: center;
    grid-template-areas:
      "header "
      "service-header"
      "main"
      "main"
      "services"
      "gallery"
      "footer";
  }

  .sidebar__header,
  .main,
  .sidebar__services,
  .gallery,
  .footer {
    justify-self: center;
    max-width: 799px;
    width: 100%;
  }

  .nav__list {
    &-item {
      display: none;
      &--burger {
        display: inline-block;

        &::after {
          content: "\2807";
          font-size: 24px;
          font-weight: bold;
          padding: 2rem 1rem;
        }
      }
    }
  }

  .description {
    &__list {
      padding: 15px 20px;
    }
  }

  .profile {
    height: auto;
    place-items: center;
    grid-template-areas:
      "avatar title"
      "avatar social"
      "avatar contact"
      "description description";

    &__image {
      justify-self: flex-end;
    }

    &__title {
      justify-self: flex-start;
    }

    &__social {
      justify-self: flex-start;
    }

    &__contact {
      justify-self: flex-start;

      &--active {
        height: 38px;
      }
    }

    &__description {
      font-size: 13px;
    }
  }

  .gallery {
    &__images {
      img {
        width: 100%;
        height: 100%;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .sidebar {
    &__services {
      grid-row: auto;
      border-top-right-radius: 0.5rem;
      border-top-left-radius: 0.5rem;

      &-type {
        text-align: left;
      }
      &-button {
        display: none;
      }

      &-list {
        margin-bottom: 2rem;
      }
    }

    &__services-offer {
      width: 80%;
      grid-template-columns: repeat(auto-fit, minmax(150px, auto));

      &:hover {
        transform: scale(1);
      }
    }
    &__services-type {
      width: 100%;
    }
    &__services-title {
      margin-top: 1rem;
    }
    &__services-time {
      width: 100%;
      justify-content: center;
    }

    &__header {
      justify-content: center;
      border-bottom-right-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
    }
  }

  .footer {
    margin-top: 12px;

    &__review {
      text-align: left;
      grid-template-areas:
        "avatar heading ."
        "paragraph paragraph paragraph";
    }

    &__avatar {
      margin: 1rem 0 10px;
    }

    &__heading {
      flex-flow: column wrap;
      justify-content: center;
    }

    &__rating {
      align-self: flex-start;
    }
  }
}
